#circle {
    background-color: red;
    width: 10vmax;
    height: 10vmax;
    border: solid;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5vmax;
    margin-left: -5vmax;
}


h1 {
    position: relative;
    width: 100%;
    text-align: center;
}

h2 {
    position: relative;
    width: 100%;
    text-align: center;
}

iframe {
    width: 0px;
    height: 0px;
    position: relative;
    text-align: center;
    overflow: hide;
}