html {
    font-size: 40px;
}

body {
    background-color: blue;
}


h1 {
    font-size: 2rem;
    width: auto;
    margin: auto;
    text-align: center;
}

p {
    font-size: 1rem;
    width: auto;
    margin: auto;
    text-align: center;
}