html {
    font-size: 40px;
}

body {
    background-color: hsl(290,60%,20%);
}


h1 {
    font-size: 2rem;
    width: auto;
    margin: auto;
    text-align: center;
}

p {
    font-size: 1rem;
    width: auto;
    margin: auto;
    text-align: center;
}

/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border: solid;
}   

nav:hover {
    width: 25%;
    display: block;
}