html {
    font-size: 40px;
  }
  
  body {
    color: hsla(30,100%,10%,0.85);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    transition: all 0.5s linear;
  }
  
  #fake-submit {
    border: 2px solid;
    background-color: hsla(290,20%,60%);
    width: 50%;
    margin: 0% 25% 0% 25%;
    transition: all 100ms linear;
    font-size: 100%;
  }
  
  #fake-submit:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  /*
  h1:hover {
    transform: scale(2);
    content: "I'm huge!";
  }
  
  h1:after{
      content:"I'm Big";
  }
  
  
  h1:hover:after{
      content:"I'm Huge!"  
  }
  
  h2:click{
    transform: scale(2);
  
  */
  #latex-box {
    font-size: 24px;
    width: 40%;
    margin: auto;
    padding: auto;
    overflow: hide;
  }

#grid {
  display: grid;
  grid-template-columns: 50% auto;
  overflow: hide;
  height: 80vh;
}

#left-container {
  grid-column: 1;
  border: solid;
  
}
  
#right-container {
  grid-column: 2;
  border: solid;
}
 
textarea {
  width: 80%;
  height: 30vh;
}

/*https://www.w3schools.com/howto/howto_js_sidenav.asp*/
nav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border: solid;
}   

nav:hover {
  width: 25%;
  display: block;
}